<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>身份绑定列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../static/bootstrap/css/bootstrap-theme.min.css" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <script src="../../static/jquery/jquery-3.1.0.min.js" th:src="@{/jquery/jquery-3.1.0.min.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>
<div class="row">
    <div class="col-xs-12">
        <div class="dd" id="nestable">
            <ol class="dd-list">
                <li class="dd-item item-grey">
                    <div class="dd-handle">Item 8啊发发的速度是飒飒是打发大法师打发阿啊发发的速度是飒飒是打发大法师打发阿萨啊发发的速度是飒飒是打发大法师打发阿萨萨德法师打发士大夫afdafdaffaafd</div>
                </li>
            </ol>
        </div>
    </div>
</div>

</body>
</html>